<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title th:utext="#{label.forumPage.title}"></title>
		 <title>Bootstrap Example</title>
		  <link rel="stylesheet" href="/style.css/navigationBar.css">
		  <link rel="stylesheet" href="/style.css/forum.css">
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="topnav">
            <a th:utext="#{label.mainPage.title}" class="topHref" href="/"></a>
            <a th:utext="#{label.newsPage.title}" class="topHref" href="/news"></a>
            <a th:utext="#{label.forumPage.title}" class="active topHref" href="/forum"></a>
            <a th:utext="#{label.aboutPage.title}" class="topHref" href="/about"></a>
          </nav>
          <script src="/java.js/navigationBar.js"></script> 
		  	<div class="container">
		    <div class="panel-group">
		    <div class="panel panel-default">

			<table>
			  <tr>
			    <th><div class="panel-heading">Panel Header</div></th>
			  </tr>
			  <tr>
			    <td> <div class="panel-body">Panel Content</div></td>
			  </tr>
			  <tr>
			    <th><div class="panel-heading">Panel Header</div></th>
			  </tr>
			  <tr>
			    <td> <div class="panel-body">Panel Content</div></td>
			  </tr>
			  <tr>
			    <th><div class="panel-heading">Panel Header</div></th>
			  </tr>
			  <tr>
			    <td> <div class="panel-body">Panel Content</div></td>
			  </tr>
			  <tr>
			    <th><div class="panel-heading">Panel Header</div></th>
			  </tr>
			  <tr>
			    <td> <div class="panel-body">Panel Content</div></td>
			  </tr>
			
			</table>
</html>