<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:utext="#{label.mainPage.title}"></title>
        <link rel="stylesheet" href="/style.css/navigationBar.css">       
        <link rel="stylesheet" href="/style.css/mainPage.css">
    </head>
    <body>
        <nav class="topnav">
            <a th:utext="#{label.mainPage.title}" class="active topHref" href="/"></a>
            <a th:utext="#{label.newsPage.title}" class="topHref" href="/news"></a>
            <a th:utext="#{label.forumPage.title}" class="topHref" href="/forum"></a>
            <a th:utext="#{label.aboutPage.title}" class="topHref" href="/about"></a>
        </nav>
        <div class="description">
	        <div id="Objectives">
	        	<div class="tetrisImage">
	        		<img src="/img/tetris.png">
	        	</div>
	        	<h2 th:text="#{text.mainPage.objectivesTitle}"></h2>
	            <p class="paragraf" th:text="#{text.mainPage.objectives}"></p>
	        </div>
	        
	        <div id="AboutGame">
		        <h2 th:text="#{text.mainPage.aboutGameTitle}"></h2>
		        <p class="paragraf" th:text="#{text.mainPage.aboutGame}"></p>
	        </div> 
        </div>

        <!-- Script codes -->
        <script src="/java.js/navigationBar.js"></script> 
    </body>
</html>